/*.carousel-inner img {*/
    /*-webkit-filter: grayscale(90%);*/
    /*filter: grayscale(90%); !* make all photos black and white *!*/
    /*width: 100%; !* Set width to 100% *!*/
    /*margin: auto;*/
/*}*/
/*.carousel-caption h3 {*/
    /*color: #fff !important;*/
/*}*/
/*@media (max-width: 600px) {*/
    /*.carousel-caption {*/
        /*display: none; !* Hide the carousel text when the screen is less than 600 pixels wide *!*/
    /*}*/
/*}*/
/*.jumbotron.main_img {*/
    /*border-radius: 0;*/
    /*background:none;*/
    /*color: #FFF;*/
    /*padding:0; margin: 0;*/
/*}*/
/*.jumbotron.main_img img.bg_img {*/
    /*filter: grayscale(50%);*/
    /*width: 100%;*/
    /*padding:0; margin: 0;margin-top:-100px;*/
/*}*/
/*.jumbotron.main_img img.logo {*/
    /*margin-top:-15px;*/
/*}*/
/*!*.jumbotron .{*!*/
/*.jumbotron > .container {*/
    /*position: relative;*/
    /*z-index:999;*/
    /*padding:0; margin: auto;*/
/*}*/

@media (max-width: 600px) {
    .navbar-default .navbar-nav a{
        background:rgba(24, 153, 213, 1);
    }
    .navbar-default .navbar-nav a:hover{
        background:rgba(24, 153, 213, 0.6);
    }
}
body{
    font-family: 'Open Sans', sans-serif;
}
.navbar-default {
    background:none;
    border:none;
    color: #FFF;
    padding:0;margin-bottom: 0;margin-top: 0;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-default .navbar-header {
    padding:0; margin: 0;
}

.dropdown-menu, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background:rgba(24, 153, 213, 1);
}
.dropdown-menu > li > a {
    color: white;
}
.dropdown-menu > li > a:hover {
    background:rgba(207, 174, 112, 1);
}

.jumbotron.cover_img{
    border-radius: 0;
    min-height: 451px;max-height: 600px;
    color: #FFF;
    padding:0; margin: 0;
}
.jumbotron.main_img {
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.45),
                    rgba(0, 0, 0, 0.45)
            ),url("../images/bg.jpg") center no-repeat;
    background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;
}.jumbotron.contact_img {
     background:
             linear-gradient(
                     rgba(0, 0, 0, 0.45),
                     rgba(0, 0, 0, 0.45)
             ),url("../images/contact.jpg") center no-repeat;
     background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;
 }
.jumbotron.about_img {
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.45),
                    rgba(0, 0, 0, 0.45)
            ),url("../images/aboutus.jpg") center no-repeat;
    background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;
}
.jumbotron.news_img {
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.45),
                    rgba(0, 0, 0, 0.45)
            ),url("../images/news.jpg") center no-repeat;
    background-size: cover;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;
}
.jumbotron .container.searchForm{
    margin-top:150px;
}
.jumbotron.main_img img.logo {
    margin-top:-15px;
}
.well,.well-lg{
    border: none; border-radius:0; margin-bottom:0;
}
.well.notice,.well-lg.notice{
    background:rgba(24, 153, 213, 1);
    color:#FFFFFF;
}
section.sevices article{
    padding: 20px;
}
.featured-seller{
    background:rgba(207, 174, 112, 0.45);
    padding:10px;
}
.featured-seller-img {
    opacity: 0.4;
    display: inline-block;
    height: 60%;
    text-align: center;
    width: 18%;
}

/*********** News List ********************/
#newsLists{margin:0; padding:2px; list-style:none;}
#newsLists li { height: 60px; border-bottom:1px dotted #999; padding:5px; line-height:12px;}
#newsLists li em{margin-bottom: 5px;}
#newsLists li span{ font-size:0.8em;}
#newsLists li img{ float:left; width:50px; height:50px; margin:0 5px; }
#newsLists li a{ text-decoration:none; box-shadow:none;box-shadow:0; border:none; margin-top:20px; background:none;}
/*********** News Ticker ********************/
#ticker {margin:0; padding:2px; list-style:none; height: 180px;   overflow: hidden; }
#ticker li { height: 60px; border-bottom:1px dotted #999; padding:5px; line-height:12px;}
#ticker li span{ font-size:0.8em;}
#ticker li img{ float:left; width:50px; height:50px; margin:0 5px; }
#ticker li a{ text-decoration:none; box-shadow:none;box-shadow:0; border:none; margin-top:20px; background:none;}
/*********** End News Ticker ********************/

section.sevices div.img-circle{
    border:1px solid #000; padding:10px; width:100px; height:100px;display:inline-block;
    margin:10px 0;
}
section.sevices h3,section.sevices p{
    margin:10px 0;
}
section.feedback{
    padding:20px;
}
section.feedback .carousel-control.right,section.feedback .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
section.feedback.carousel-indicators li {
    border-color: #f4511e;
}
section.feedback.carousel-indicators li.active {
    background-color: #f4511e;
}
section.feedback .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
section.feedback .item span {
    font-style: normal;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;margin:0;
}

/* Footer styles */
footer {
    background-color: #2d2d30;
    color: #999; font-size:0.8em;
    padding: 32px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}